/exercicios/ex01/nbproject/private/
/exercicios/ex01/build/
/exercicios/ex02/nbproject/private/
/exercicios/ex02/build/
/exercicios/ex03/nbproject/private/
/exercicios/ex03/build/
/exercicios/ex04/nbproject/private/
/exercicios/ex04/build/
